<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>


<body>
    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>글 번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>제목 테스트</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>